@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap");

body {
  font-family: "Comic Neue", cursive;
}

.parent {
  display: grid;
  grid-template-columns: 0.1fr 1.5fr 0.1fr;
  grid-template-rows: auto auto auto;
  height: 100vh;
}

.content {
  grid-area: 1 / 2 / 1 / 2;
  place-self: center stretch;
}

footer {
  grid-area: 3 / 2 / 3 / 2;
  place-self: end center;
  padding: 20px;
  font-size: 5vw;
}

.header {
  background-color: fuchsia;
  font-family: "Comic Neue", cursive;
  font-weight: 500;
  /* we set up fallback font-size */
  font-size: 3.5em;
  font-size: 7vw;
  box-shadow: 10px 5px 0px 0px;
  padding: 3px;
}

.description {
  padding: 20px;
  font-size: 2vw;
}

.link-container {
  display: flex;
  justify-content: space-around;
}

.link {
  font-size: 5vw;
  box-shadow: 10px 5px 0px 0px;
  background-color: greenyellow;
  padding: 2px;
  color: black;
  text-decoration: none;
}

.link:hover {
  background-color: fuchsia;
  box-shadow: 10px 5px 0px 0px greenyellow;
}

.item-text {
  margin: 5px;
  padding: 5px;
  font-size: 2vw;
  text-align: right;
  margin-right: 4vw;
}

.item-text > input {
  box-shadow: 10px 5px 0px 0px;
  width: 60vh;
  height: 3vh;
  font-size: 2vw;
  margin-left: 20px;
}

.item-text > label {
  font-size: 2vw;
  font-weight: bold;
  margin-right: 10px;
}

.list-form > button {
  font-size: 4vw;
  box-shadow: 10px 5px 0px 0px;
  background-color: greenyellow;
  margin: 10px;
  padding: 2px;
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
}
